fastapi
uvicorn[standard]
pydantic
psycopg2-binary
pandas
chromadb
python-dotenv
tiktoken
orjson
llama-index
llama-index-core
llama-index-llms-openai-like
llama-index-embeddings-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
sentence-transformers
llama-index-postprocessor-sbert-rerank
